%div
  %ul.breadcrumb
    %li
      %a{:href => clients_path} Clients
      %span.divider /
    %li
      %a{:href => client_path(@client)}
        = @client.name
      %span.divider /
    %li.active Edit pane

= simple_form_for(@client, :url => client_path(@client), :html => {:class => 'form-horizontal', :method => :put }) do |f|
  %fieldset.well
    = f.error_notification
    = display_base_errors @client
    = f.input :name, required: true, autofocus: true, input_html: {class: "input-xlarge", required: "required"}
    = f.input :email, :required => true, input_html: {class: "input-xlarge", required: "required"}
    = f.input :address_line1, required: true, input_html: {class: "input-xlarge", required: "required"}
    = f.input :address_line2, required:true, input_html: {class: "input-xlarge", required: "required"}
    = f.input :city, :required => true, input_html: {class: "input-xlarge", required: "required"}
    = f.input :state, :required => true, input_html: {class: "input-xlarge", required: "required"}
    = f.input :country, collection: [ "Australia", "Brazil", "India", "New Zealand"], :required => true, input_html: {required: "required"}
    = f.input :postal_code, :required => true, input_html: {class: "input-xlarge", required: "required"}
    = f.input :description, as: :text,  required: true, input_html: {class: "input-xlarge", rows: "5", required: "required"}
    = f.input :phone_no, required: true, input_html: {class: "input-xlarge", required: "required"}
    - if @client.photo?
      = image_tag @client.photo.url(:medium)
    = f.file_field :photo
    = f.button :submit, 'Update', :class => 'btn-primary'
