%div.well
  %ul.breadcrumb
    %li
      %a{:href => clients_path} Clients
      %span.divider /
    %li.active
      = @client.name
  %ul.thumbnails
    %li.span4
      .thumbnail
        - if @client.photo.exists?
          = image_tag @client.photo.url(:medium)
        %h3
          = @client.name

        %p
          = @client.description
    %li.span4
      .thumbnail
        %h4 City:
        %h6
          = @client.city
        %h4 Country:
        %h6
          = @client.country
        %h4 Email:
        %h6
          = @client.email
        %h4 Phone:
        %h6
          = @client.phone_no 
        %a.btn.btn-primary.btn-small{"data-toggle" => "modal", :href => edit_client_path(@client), :type => "button"} Edit
    %li.span4
      .thumbnail 
        %a.btn.btn-primary.btn-small{"data-toggle" => "modal", :href => new_product_path(:cid => @client.id), :type => "button"} Add product
        %a.btn.btn-primary.btn-small{"data-toggle" => "modal", :href => products_path(:cid => @client.id), :type => "button"} List products
    
