.container
  %table.prod_popup
    %tr
      %td
      %td{:style => "float:right"}
        %span.b-close X
    %tr
      %td
        = image_tag @product_prices.product.photo.url(:medium)
        %br
        #caption
          %span= @product_prices.product.name
          #price_info
            %img{ :src => image_path("currency.gif")}
            = @product_prices.price
          .prod_star{"data-product" => "#{@product_prices.product_id}"}
      %td{ :style => 'width:50%'}
        %font{:size => 3,:color => '#004b91'}= @product_prices.product.description
        %h3 Address
        %address
          %strong= @product_prices.client.name
          %br
          = @product_prices.client.address_line1
          - if @product_prices.client.address_line2
            = @product_prices.client.address_line2
          %br
          = @product_prices.client.city + ","
          = @product_prices.client.state
          %br
          = @product_prices.client.country + ' - '
          = @product_prices.client.postal_code
          - if @product_prices.client.phone_no
            %br
            %abbr{"title" => "Phone"} P:
            = @product_prices.client.phone_no
        - if @product_prices.client.email
          %address
            %strong Email
            %br
            %a{ :href => "mailto:#" }= @product_prices.client.email
