%div
  %ul.breadcrumb.row-fluid
    - if params[:type].blank?
      %li
        %a{:href => clients_path} Clients
        %span.divider /
    - else
      %li
        %a{:href => root_path} Home
        %span.divider /
    - unless @client.nil?
      %li
        %a{:href => client_path(@client)} #{@client.name}
        %span.divider /
    %li.active Products
- @products.each_slice(4).to_a.each do |row|      
  %div.row-fluid.well
    %ul.thumbnails
      - row.each do |product| 
        %li.span3{"data-product-admin" => "true"}
          .thumbnail
            - unless @client.nil?
              .close-btn{"title" => "Delete this product", "data-url" => "#{product_path(product)}"} X
            %a{:href => product_path(:id => product, :cid => product.client)}          
              %img{"src" => "#{product.photo.url}"}
            %br
            #caption
              %span= product.name
              %br
              #price_info
                %img{ :src => image_path("currency.gif")}
                = product.product_price.price.to_i
              .star{"data-score" => "#{product.rating}" }
- unless @client.nil?
  .row-fluid.well
    %a.btn.btn-primary.btn-small{"data-toggle" => "modal", :href => new_product_path(:cid => @client), :type => "button"} Add product
