%div
  %ul.breadcrumb
    %li
      %a{:href => clients_path} Clients
      %span.divider /
    %li
      %a{:href => client_path(@client)} #{@client.name}
      %span.divider /
    %li
      %a{:href => products_path(:cid => @client)} Products
      %span.divider /
    %li.active New

= simple_form_for(@product, :url => products_path, :html => {:class => 'form-horizontal', :method => :post }) do |f|
  %fieldset.well
    = display_base_errors @product
    = f.input :name, required: true, autofocus: true, input_html: {class: "input-xlarge"}
    = f.input :sku, :required => true, input_html: {class: "input-xlarge"}
    = f.simple_fields_for :product_price do |p|
      = p.input :price, required: true, input_html: {class: "input-xlarge"}
      = p.input :discount, input_html: {class: "input-xlarge"}
      = p.input :valid_from, input_html: {id: "date_from_field"}
      = p.input :valid_to, input_html: {id: "date_to_field"}
      = hidden_field_tag "product[product_price][client_id]", @client.id
    = f.input :description, as: :text,  required: true, input_html: {class: "input-xlarge", rows: "5"}   
    = f.file_field :photo
    = f.input :status, as: :boolean, required: true
    = hidden_field_tag "product[client_id]", @client.id
    = f.button :submit, 'Create', :class => 'btn-primary'
